<s:Sysprep>
  <s:Customization>
    <s:Windows>
      <s:ProductKey>{{ product_key }}</s:ProductKey>
      <s:AdministratorPassword>{{ admin_password }}</s:AdministratorPassword>
      <s:ComputerName>{{ computer_name }}</s:ComputerName>
    </s:Windows>
  </s:Customization>
</s:Sysprep>